openapi: 3.1.0
info:
  title: Nekoweb API
  description: >-
    The API allows you to interact with nekoweb server programmatically. You can
    use it to automate tasks like updating, creating and deleting files, and
    more.\

    Official docs: [https://nekoweb.org/api](https://nekoweb.org/api).\

    Contribute to this documentation: [https://github.com/mp-pinheiro/nekoweb-api-docs](https://github.com/mp-pinheiro/nekoweb-api-docs).
  license: 
    name: Proprietary
    url: https://nekoweb.org
    
servers:
  - url: https://nekoweb.org/api
tags:
  - name: Site
    description: Site related endpoints.
  - name: Files
    description: File related endpoints.
  - name: Big Files
    description: Big file related endpoints.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
security:
  - ApiKeyAuth: []
paths:
  /site/info/{username}:
    get:
      tags:
        - Site
      summary: /site/info/:username
      description: >-
        Get information about a user's site. Replace :username with the username
        of the user. This endpoint doesn't require auth if requested from
        Nekoweb site.


        Returns a JSON object with id, username, title, updates, followers,
        views, created_at and updated_at properties.
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: 177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d
        - name: username
          in: path
          schema:
            type: string
          required: true
          example: fairfruit
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: 1855
                username: fairfruit
                title: Welcome to Fairfruit
                updates: 5
                followers: 0
                views: 209
                created_at: 1709235724576
                updated_at: 1709597947291
      x-codeSamples:
        - lang: Node
          source: |-
            const fetch = require('node-fetch');

            let url = 'https://nekoweb.org/api/site/info/fairfruit';

            let options = {
              method: 'GET',
              headers: {
                Authorization: '177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d'
              }
            };

            fetch(url, options)
              .then(res => res)
              .then(json => console.log(json))
              .catch(err => console.error('error:' + err));
        - lang: Python
          source: >-
            import requests


            url = "https://nekoweb.org/api/site/info/fairfruit"


            headers = {"Authorization":
            "177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d"}


            response = requests.request("GET", url, headers=headers)


            print(response.text)
        - lang: Shell
          source: |-
            curl --request GET \
              --url https://nekoweb.org/api/site/info/fairfruit \
              --header 'Authorization: 177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d'
  /files/create:
    post:
      tags:
        - Files
      summary: /files/create
      description: |
        Create a new file or folder.


        `⚠ Note:` docs say to use arg `path`, but that returns `Invalid path`. Using `pathname` works instead.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                isFolder:
                  type: boolean
                  example: 'true'
                pathname:
                  type: string
                  example: test
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: 177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: text/plain
          content:
            text/plain:
              schema:
                type: string
              example: Folder created
      x-codeSamples:
        - lang: Node
          source: |-
            const { URLSearchParams } = require('url');
            const fetch = require('node-fetch');
            const encodedParams = new URLSearchParams();

            encodedParams.set('isFolder', 'true');
            encodedParams.set('pathname', 'test');

            let url = 'https://nekoweb.org/api/files/create';

            let options = {
              method: 'POST',
              headers: {
                Authorization: '177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d',
                'content-type': 'application/x-www-form-urlencoded'
              },
              body: encodedParams
            };

            fetch(url, options)
              .then(res => res)
              .then(json => console.log(json))
              .catch(err => console.error('error:' + err));
        - lang: Python
          source: >-
            import requests


            url = "https://nekoweb.org/api/files/create"


            payload = "isFolder=true&pathname=test"

            headers = {
                "Authorization": "177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d",
                "content-type": "application/x-www-form-urlencoded"
            }


            response = requests.request("POST", url, data=payload,
            headers=headers)


            print(response.text)
        - lang: Shell
          source: |-
            curl --request POST \
              --url https://nekoweb.org/api/files/create \
              --header 'Authorization: 177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d' \
              --header 'content-type: application/x-www-form-urlencoded' \
              --data isFolder=true \
              --data pathname=test
  /files/upload:
    post:
      tags:
        - Files
      summary: /files/upload
      description: >-
        Upload a file or files. This will overwrite old files. Max 100MB.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                pathname:
                  type: string
                  example: /test
                files:
                  type: string
                  format: binary
                  example: '@test.txt'
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: 177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d
      responses:
        '200':
          description: Files uploaded
          headers:
            Content-Type:
              schema:
                type: string
                example: text/plain
          content:
            text/plain:
              schema:
                type: string
              example: Found. Redirecting to /dashboard/?path=test
      x-codeSamples:
        - lang: Node
          source: |-
            const FormData = require('form-data');
            const fetch = require('node-fetch');
            const formData = new FormData();

            formData.append('pathname', '/test');
            formData.append('files', 'test.txt', { filepath: './test.txt' });

            let url = 'https://nekoweb.org/api/files/upload';

            let options = {
              method: 'POST',
              headers: {
                Authorization: '177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d'
              }
            };

            options.body = formData;

            fetch(url, options)
              .then(res => res)
              .then(json => console.log(json))
              .catch(err => console.error('error:' + err));
        - lang: Python
          source: >-
            import requests


            url = "https://nekoweb.org/api/files/upload"


            payload = "-----011000010111000001101001\r\nContent-Disposition:
            form-data;
            name=\"pathname\"\r\n\r\n/test\r\n-----011000010111000001101001\r\nContent-Disposition:
            form-data;
            name=\"files\"\r\n\r\n@test.txt\r\n-----011000010111000001101001--\r\n"

            headers = {
                "Authorization": "177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d"
            }


            response = requests.request("POST", url, data=payload,
            headers=headers)


            print(response.text)
        - lang: Shell
          source: |-
            curl --request POST \
              --url https://nekoweb.org/api/files/upload \
              --header 'Authorization: 177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d' \
              --form pathname=/test \
              --form files=@test.txt
  /files/delete:
    post:
      tags:
        - Files
      summary: /files/delete
      description: Delete a file or folder.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                pathname:
                  type: string
                  example: test
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: 177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: text/plain
          content:
            text/plain:
              schema:
                type: string
              example: File/folder deleted
      x-codeSamples:
        - lang: Node
          source: |-
            const { URLSearchParams } = require('url');
            const fetch = require('node-fetch');
            const encodedParams = new URLSearchParams();

            encodedParams.set('pathname', 'test');

            let url = 'https://nekoweb.org/api/files/delete';

            let options = {
              method: 'POST',
              headers: {
                Authorization: '177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d',
                'content-type': 'application/x-www-form-urlencoded'
              },
              body: encodedParams
            };

            fetch(url, options)
              .then(res => res)
              .then(json => console.log(json))
              .catch(err => console.error('error:' + err));
        - lang: Python
          source: >-
            import requests


            url = "https://nekoweb.org/api/files/delete"


            payload = "pathname=test"

            headers = {
                "Authorization": "177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d",
                "content-type": "application/x-www-form-urlencoded"
            }


            response = requests.request("POST", url, data=payload,
            headers=headers)


            print(response.text)
        - lang: Shell
          source: |-
            curl --request POST \
              --url https://nekoweb.org/api/files/delete \
              --header 'Authorization: 177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d' \
              --header 'content-type: application/x-www-form-urlencoded' \
              --data pathname=test
  /files/rename:
    post:
      tags:
        - Files
      summary: /files/rename
      description: Rename/Move a file or folder.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                pathname:
                  type: string
                  example: test
                newpathname:
                  type: string
                  example: test2
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: 177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: text/plain
          content:
            text/plain:
              schema:
                type: string
              example: File/folder renamed
      x-codeSamples:
        - lang: Node
          source: |-
            const { URLSearchParams } = require('url');
            const fetch = require('node-fetch');
            const encodedParams = new URLSearchParams();

            encodedParams.set('pathname', 'test');
            encodedParams.set('newpathname', 'test2');

            let url = 'https://nekoweb.org/api/files/rename';

            let options = {
              method: 'POST',
              headers: {
                Authorization: '177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d',
                'content-type': 'application/x-www-form-urlencoded'
              },
              body: encodedParams
            };

            fetch(url, options)
              .then(res => res)
              .then(json => console.log(json))
              .catch(err => console.error('error:' + err));
        - lang: Python
          source: >-
            import requests


            url = "https://nekoweb.org/api/files/rename"


            payload = "pathname=test&newpathname=test2"

            headers = {
                "Authorization": "177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d",
                "content-type": "application/x-www-form-urlencoded"
            }


            response = requests.request("POST", url, data=payload,
            headers=headers)


            print(response.text)
        - lang: Shell
          source: |-
            curl --request POST \
              --url https://nekoweb.org/api/files/rename \
              --header 'Authorization: 177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d' \
              --header 'content-type: application/x-www-form-urlencoded' \
              --data pathname=test \
              --data newpathname=test2
  /files/edit:
    post:
      tags:
        - Files
      summary: /files/edit
      description: >-
        Edit a file.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                pathname:
                  type: string
                  example: test/test.txt
                content:
                  type: string
                  example: Hello world
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: 177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: text/plain
          content:
            text/plain:
              schema:
                type: string
              example: File edited
      x-codeSamples:
        - lang: Node
          source: |-
            const FormData = require('form-data');
            const fetch = require('node-fetch');
            const formData = new FormData();

            formData.append('pathname', 'test/test.txt');
            formData.append('content', 'Hello world');

            let url = 'https://nekoweb.org/api/files/edit';

            let options = {
              method: 'POST',
              headers: {
                Authorization: '177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d'
              }
            };

            options.body = formData;

            fetch(url, options)
              .then(res => res)
              .then(json => console.log(json))
              .catch(err => console.error('error:' + err));
        - lang: Python
          source: >-
            import requests


            url = "https://nekoweb.org/api/files/edit"


            payload = "-----011000010111000001101001\r\nContent-Disposition:
            form-data;
            name=\"pathname\"\r\n\r\ntest/test.txt\r\n-----011000010111000001101001\r\nContent-Disposition:
            form-data; name=\"content\"\r\n\r\nHello
            world\r\n-----011000010111000001101001--\r\n"

            headers = {
                "Authorization": "177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d"
            }


            response = requests.request("POST", url, data=payload,
            headers=headers)


            print(response.text)
        - lang: Shell
          source: |-
            curl --request POST \
              --url https://nekoweb.org/api/files/edit \
              --header 'Authorization: 177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d' \
              --form pathname=test/test.txt \
              --form 'content=Hello world'
  /files/readfolder:
    get:
      tags:
        - Files
      summary: /files/readfolder
      description: |-
        Read a folder.

        Returns a JSON array with objects like this: `{name: String, dir: Boolean}`
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: 177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d
        - name: pathname
          in: query
          schema:
            type: string
          example: test
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: array
          content:
            application/json:
              schema:
                type: array
              example: [
                {
                  name: 'test.txt',
                  dir: false
                },
                {
                  name: 'test2',
                  dir: true
                }
              ]
      x-codeSamples:
        - lang: Node
          source: |-
            const fetch = require('node-fetch');

            let url = 'https://nekoweb.org/api/files/readfolder?pathname=test';

            let options = {
              method: 'GET',
              headers: {
                Authorization: '177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d'
              }
            };

            fetch(url, options)
              .then(res => res)
              .then(json => console.log(json))
              .catch(err => console.error('error:' + err));
        - lang: Python
          source: >-
            import requests


            url = "https://nekoweb.org/api/files/readfolder"


            querystring = {"pathname":"test"}


            headers = {"Authorization":
            "177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d"}


            response = requests.request("GET", url, headers=headers,
            params=querystring)


            print(response.text)
        - lang: Shell
          source: |-
            curl --request GET \
              --url 'https://nekoweb.org/api/files/readfolder?pathname=test' \
              --header 'Authorization: 177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d'
  /files/big/create:
    get:
      tags:
        - Big Files
      summary: /files/big/create
      description: |-
        Create upload for a big file. Allows you to upload files larger than 100MB.
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: 177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                id: fnc8orbox7dk71y1kzwke
      x-codeSamples:
        - lang: Node
          source: |-
            const fetch = require('node-fetch');

            let url = 'https://nekoweb.org/api/files/big/create';

            let options = {
              method: 'GET',
              headers: {
                Authorization: '177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d'
              }
            };

            fetch(url, options)
              .then(res => res)
              .then(json => console.log(json))
              .catch(err => console.error('error:' + err));
        - lang: Python
          source: >-
            import requests


            url = "https://nekoweb.org/api/files/big/create"


            headers = {"Authorization":
            "177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d"}


            response = requests.request("GET", url, headers=headers)


            print(response.text)
        - lang: Shell
          source: |-
            curl --request GET \
              --url https://nekoweb.org/api/files/big/create \
              --header 'Authorization: 177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d'
  /files/big/append:
    post:
      tags:
        - Big Files
      summary: /files/big/append
      description: >-
        Append a chunk to a big file upload.


        **⚠ Note:** you'll need to call `/files/big/move` or `/files/import/:bigid` to persist the file.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                id:
                  type: string
                  example: fnc8orbox7dk71y1kzwke
                file:
                  type: string
                  format: binary
                  example: '@test.txt'
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: 177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
              example: Appended
      x-codeSamples:
        - lang: Node
          source: |-
            const FormData = require('form-data');
            const fetch = require('node-fetch');
            const formData = new FormData();

            formData.append('id', 'fnc8orbox7dk71y1kzwke');
            formData.append('file', 'test.txt', { filepath: './test.txt' });

            let url = 'https://nekoweb.org/api/files/big/append';

            let options = {
              method: 'POST',
              headers: {
                Authorization: '177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d'
              }
            };

            options.body = formData;

            fetch(url, options)
              .then(res => res)
              .then(json => console.log(json))
              .catch(err => console.error('error:' + err));
        - lang: Python
          source: >-
            import requests


            url = "https://nekoweb.org/api/files/big/append"


            payload = "-----011000010111000001101001\r\nContent-Disposition:
            form-data;
            name=\"id\"\r\n\r\nfnc8orbox7dk71y1kzwke\r\n-----011000010111000001101001\r\nContent-Disposition:
            form-data;
            name=\"file\"\r\n\r\n@test.txt\r\n-----011000010111000001101001--\r\n"

            headers = {
                "Authorization": "177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d"
            }


            response = requests.request("POST", url, data=payload,
            headers=headers)


            print(response.text)
        - lang: Shell
          source: |-
            curl --request POST \
              --url https://nekoweb.org/api/files/big/append \
              --header 'Authorization: 177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d' \
              --form id=fnc8orbox7dk71y1kzwke \
              --form file=@test.txt
  /files/big/move:
    post:
      tags:
        - Big Files
      summary: /files/big/move
      description: Move a big file upload to the final location.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id:
                  type: string
                  example: fnc8orbox7dk71y1kzwke
                pathname:
                  type: string
                  example: test.txt
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: 177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: text/plain
          content:
            text/plain:
              schema:
                type: string
              example: Moved
      x-codeSamples:
        - lang: Node
          source: |-
            const { URLSearchParams } = require('url');
            const fetch = require('node-fetch');
            const encodedParams = new URLSearchParams();

            encodedParams.set('id', 'fnc8orbox7dk71y1kzwke');
            encodedParams.set('pathname', 'test.txt');

            let url = 'https://nekoweb.org/api/files/big/move';

            let options = {
              method: 'POST',
              headers: {
                Authorization: '177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d',
                'content-type': 'application/x-www-form-urlencoded'
              },
              body: encodedParams
            };

            fetch(url, options)
              .then(res => res)
              .then(json => console.log(json))
              .catch(err => console.error('error:' + err));
        - lang: Python
          source: >-
            import requests


            url = "https://nekoweb.org/api/files/big/move"


            payload = "id=fnc8orbox7dk71y1kzwke&pathname=test.txt"

            headers = {
                "Authorization": "177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d",
                "content-type": "application/x-www-form-urlencoded"
            }


            response = requests.request("POST", url, data=payload,
            headers=headers)


            print(response.text)
        - lang: Shell
          source: |-
            curl --request POST \
              --url https://nekoweb.org/api/files/big/move \
              --header 'Authorization: 177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d' \
              --header 'content-type: application/x-www-form-urlencoded' \
              --data id=fnc8orbox7dk71y1kzwke \
              --data pathname=test.txt
  /files/import/{bigid}:
    post:
      tags:
        - Big Files
      summary: /files/import/:bigid
      description: >-
        Import a zip file from a big file upload. Replace :bigid with the id of
        the big file upload.

        
        **⚠ Note:** should be called after calling `/files/big/append` to upload the archive, with the same id.
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: 177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d
        - name: bigid
          in: path
          schema:
            type: string
          required: true
          example: il4w31f9m1aqqqe8op7hp
      responses:
        '200':
          description: Imported
          content:
            application/json: {}
      x-codeSamples:
        - lang: Node
          source: >-
            const fetch = require('node-fetch');


            let url =
            'https://nekoweb.org/api/files/import/il4w31f9m1aqqqe8op7hp';


            let options = {
              method: 'POST',
              headers: {
                Authorization: '177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d'
              }
            };


            fetch(url, options)
              .then(res => res)
              .then(json => console.log(json))
              .catch(err => console.error('error:' + err));
        - lang: Python
          source: >-
            import requests


            url = "https://nekoweb.org/api/files/import/il4w31f9m1aqqqe8op7hp"


            headers = {"Authorization":
            "177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d"}


            response = requests.request("POST", url, headers=headers)


            print(response.text)
        - lang: Shell
          source: |-
            curl --request POST \
              --url https://nekoweb.org/api/files/import/il4w31f9m1aqqqe8op7hp \
              --header 'Authorization: 177e9b41e8b35b5e3cf90dd4a1ce90b9c8d1e6aa79863c0ebfd9c1e5dbb4d24d'

